---
import Layout from "../components/Layout.astro";
import Header from "../components/Header.astro";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
---

<Layout pageTitle="Pokru">
  <header>
    <Header />
  </header>
  <main>
    <Menu/>
  </main>
  <footer>
    <Footer/>
  </footer>
</Layout>
