<section class="w-full h-full flex flex-col justify-center items-center text-sm pt-5 px-3">
    <a href="#" class="uppercase underline tracking-[1px]">TERMS OF SERVICE, PLEASE READ THIS</a>
</section>