<section class="w-11/12 lg:w-7/12 mx-auto mb-10">
  <div class="my-5">
    <h2 class="font-bold text-center text-2xl">Arts samples</h2>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4">
    <div class="grid">
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../photo.webp"
          alt="Art in Board"
        />
      </div>
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-01.webp"
          alt="Art in Board"
        />
      </div>
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-02.webp"
          alt="Art in Board"
        />
      </div>
    </div>
    <div class="grid">
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-03.webp"
          alt="Art in Board"
        />
      </div>
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-04.webp"
          alt="Art in Board"
        />
      </div>
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-05.webp"
          alt="Art in Board"
        />
      </div>
    </div>
    <div class="grid">
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-06.webp"
          alt="Art in Board"
        />
      </div>
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-07.webp"
          alt="Art in Board"
        />
      </div>
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-02.webp"
          alt="Art in Board"
        />
      </div>
    </div>
    <div class="grid">
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-02.webp"
          alt="Art in Board"
        />
      </div>
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-03.webp"
          alt="Art in Board"
        />
      </div>
      <div>
        <img
          class="h-full max-w-full object-cover"
          src="../art-02.webp"
          alt="Art in Board"
        />
      </div>
    </div>
  </div>
  <div class="p-5 bg-white my-5 rounded-xl text-rose-800 text-md">
    <p>
      <strong>Here you can see some of my artistic creations.</strong> I hope you
      enjoy seeing them as much as I enjoyed creating them. If you have any comments
      or suggestions, please feel free to <a href="mailto:youremail@domain.com"
         class="underline"><strong>contact me</strong></a
      >. Thank you for visiting my page!
    </p>

    <div
      class="w-full flex flex-col mt-8 font-bold justify-center items-center"
    >
      <p>You can follow me to see all my art or work!</p>
      <div class="flex flex-row justify-center items-center gap-4">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center items-center text-center my-5">
    <a
      href="../index.html"
      class="w-full md:w-fit px-5 py-2 text-rose-800 border-2 border-rose-800 rounded-full flex justify-center items-center gap-4 hover:bg-[#F8E6CE] duration-200"
    >
      <i class="fa-solid fa-arrow-left"></i>Back</a
    >
  </div>
</section>
