<style>
  img {  
    animation: ImgMovement 2s ease infinite alternate;
  }

  @keyframes ImgMovement {
    0% {
      scale: 0.92;
    }

    100% {
      scale: 1;
    }
  }
</style>

<section class="flex w-full md:w-11/12 lg:w-9/12 mx-auto justify-center items-center">
  <!-- First -->
  <section
    class="bg-[#D1DBCD] text-[#0f0f0f] w-10/12 h-full mx-auto p-5 hidden lg:flex justify-center items-center flex-col rounded-xl md:w-96"
  >
    <div class="p-2">
      <img class="rounded-lg" src="./photo.webp" alt="Photo Portrait" />
    </div>
    <div class="text-2xl pt-1 text-black">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-solid fa-square-envelope"></i></a>
    </div>
    <hr class="border-2 border-[#565656] w-full my-2">
    <p class="text-center">
      Hi, I'm <strong>Pokru</strong>, a new digital artist in the art world. I
      use various digital tools to create visually stunning art pieces. This is
      my new page to get to know me and order commissions for illustrations,
      animations, or graphics. Let's collaborate to bring your ideas to life!
    </p>
  </section>

  <!-- Second -->
  <section
    class="bg-[white] text-[#0f0f0f] w-11/12 h-full mx-auto py-5 px-5 flex justify-center items-center flex-col rounded-xl md:w-11/12 xl:w-[900px] z-50 shadow-lg"
  >
    <div class="text-center text-2xl">
      <h1>Welcome to <br /> <strong>¡Pokru Menu!</strong></h1>
    </div>
    <img
      class="w-[303px] h-[43px] object-cover"
      src="./stars.gif"
      alt="Stars Animation"
    />
    <!-- All REDIRECTIONS -->
    <div
      class="flex flex-col gap-y-11 justify-center items-center text-center text-sm uppercase py-5"
    >
      <!-- First Row -->
      <div class="w-full flex gap-10 justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <a href="./art.html" class="flex justify-center items-center flex-col">
            <img
              class="w-20 h-20 object-cover"
              src="./gif-01.gif"
              alt="Gif of Art Examples"
            />
            <p>Art Samples</p>
          </a>
        </div>
        <div class="flex flex-col justify-center items-center">
          <a href="./prices.html" class="flex justify-center items-center flex-col">
            <img class="w-20 h-20 object-cover" src="./gif-02.gif" alt="Gif of Prices" />
            <p>Prices</p>
          </a>
        </div>
      </div>

      <!-- Second Row -->
      <div class="w-full flex gap-10 justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <a href="#" class="flex justify-center items-center flex-col">
            <img class="w-20 h-20 object-cover" src="./gif-03.gif" alt="Gif of YCH" />
            <p>YCH</p>
          </a>
        </div>
        <div class="flex flex-col justify-center items-center">
          <a href="#" class="flex justify-center items-center flex-col">
            <img class="w-20 h-20 object-contain" src="./gif-04.gif" alt="Gif of Commission" />
            <p>COMMISSION</p>
          </a>
        </div>
        <div class="flex flex-col justify-center items-center">
          <a href="#" class="flex justify-center items-center flex-col">
            <img class="w-20 h-20 object-cover" src="./gif-05.gif" alt="Gif of Arg Prices" />
            <p>ARG PRICES</p>
          </a>
        </div>
      </div>

      <!-- Third Row -->
      <div class="w-full flex gap-10 justify-center items-center">
        <div class="flex flex-col justify-center items-center">
          <a href="#" class="flex justify-center items-center flex-col">
            <img class="w-20 h-20 object-cover" src="./gif-06.gif" alt="Gif of Slots" />
            <p>SLOTS</p>
          </a>
        </div>
        <div class="flex flex-col justify-center items-center">
          <a href="#" class="flex justify-center items-center flex-col">
            <img class="w-20 h-20 object-cover" src="./gif-07.gif" alt="Gif of T.O.S" />
            <p>T.O.S</p>
          </a>
        </div>
      </div>
    </div>

    <!-- Card Footer -->
    <img
      class="invert w-[145px] h-[37px] object-cover"
      src="./skeletons.gif"
      alt="Skeletons GIF"
    />

    <div class="text-2xl pt-3 flex gap-4 text-black md:hidden">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-solid fa-square-envelope"></i></a>
    </div>
  </section>

  <!-- Third -->
  <section
    class="bg-[#F8E6CE] w-10/12 h-full mx-auto p-5 hidden lg:flex justify-center items-center flex-col rounded-xl md:w-96"
  >
    <div class="py-2">
      <h2 class="font-bold text-xl">Some Arts</h2>
    </div>
    <div class="w-full">
      <div class="grid grid-cols-4 gap-2 my-2">
        <img class="w-full h-full object-cover" src="./art-01.webp" alt="Photo Art" />
        <img class="w-full h-full object-cover" src="./art-06.webp" alt="Photo Art" />
        <img class="w-full h-full object-cover" src="./art-07.webp" alt="Photo Art" />
        <img class="w-full h-full object-cover" src="./art-08.webp" alt="Photo Art" />
      </div>
      <div class="grid grid-cols-3 gap-2 my-2">
        <img class="w-full h-full object-cover" src="./art-03.webp" alt="Photo Art" />
        <img class="w-full h-full object-cover" src="./art-04.webp" alt="Photo Art" />
        <img class="w-full h-full object-cover" src="./art-05.webp" alt="Photo Art" />
      </div>
      <div class="grid grid-cols-1 gap-2 my-2">
        <img
          class="w-full h-72 object-cover"
          src="./art-02.webp"
          alt="Photo Art"
        />
      </div>
    </div>
  </section>
</section>
