<section class="w-11/12 mx-auto">
  <p class="text-center border-2 border-black p-5">
    ☆ Picture format/size: 3072x4096. 300dpi high quality ♧ You may request a
    specific canvas size. I do not recommend low quality dpi as it will affect
    the work. ♡ more than 16000+x16000+ size is not accepted. Since my device
    cannot handle that much. ● I will send the final piece via your gmail/email.
    Or gdrive ♤ Price may vary depending on the request ☆ I accept payment
    method as Paypal invoice. Do not try to scam me. (Before commissioning me,
    plz refer to my art samples on which style you'd prefer!; Ex: I want art
    like the faruzan one) ~~ +15% if commercial use +90% additional character
    +Fees will be charged if you wished your commission to be private. (More
    info about that in my terms & conditions) (Mop: Paypal/Gcash/Codashop)
    (Please refer to my art samples) ——
    <br />
    ♡ By commissioning me, you agree to my Terms & Conditions ♡
  </p>
</section>
